### teamspeak_log_xmpp_push
# just the username not the complete jid
xmpp_username=FROM
xmpp_password=PASSWORD
# the corresponding xmpp server for the username above
xmpp_server=SERVER.TLD
# the complete jid of the recipient
xmpp_recipient=TO@ANOTHERSERVER.TLD
# some random string to indetify
ressource=RANDOMSHIT
#
#
#
## disable filter features ##
# set these line to no to disable a specific filter (default = yes)
#
#enable_server=no
#
#enable_complaint=no
#
#enable_ban=no
#
#enable_kick=no
#
#enable_groups=no
#
#enable_channel=no
#
